/*
 * Empty Stylesheet file.
 */

.mainFxmlClass {

}

/* Cambiar color de la flecha del ComboBox */
.combo-box .arrow {
    -fx-background-color: black; 
    -fx-font-family: "Trebuchet MS";
    -fx-font-size: 15px;
}

/* Cambiar el color de fondo de las opciones */
.combo-box .list-cell {
    -fx-background-color: #4a90e2;
    -fx-text-fill: black;
    -fx-font-family: "Trebuchet MS";
    -fx-font-size: 15px;
}